	<header class="header">
		<div class="inner header__inner">
			<h1 class="header__logo">フィードバックチャンネル</h1>
			<!-- /.header__logo -->
			<nav class="header__nav">
				<ul>
					<li><a href="#a-tab" class="is-active">人気記事</a></li>
					<li><a href="#a-card">最新記事</a></li>					
				</ul>
				<%#if user_signed_in? && current_user.id%>
				<div class="edit"><%#= link_to current_user.name, edit_user_registration_path(current_user), class: 'editbtn' %></div>
				<%# end %>
			</nav><!-- /.header__nav -->
		</div><!-- /.header__inner -->
         </header><!-- /.header -->

	<button class="drawer-icon js-drawer for-drawer" type="button" data-target="for-drawer">
		<span class="drawer-bars">
			<span class="drawer-bar"></span>
			<span class="drawer-bar"></span>
			<span class="drawer-bar"></span>
		</span>
	</button><!-- /drawer-icon -->
	<div class="drawer-background for-drawer"></div>
	<div class="drawer-content for-drawer">
		<ul>
			<li><a href="#a-card"></a></li>
			<li><a href="#a-news"></a></li>
			<li><a href="#a-price"></a></li>
			<li><a href="#a-access"></a></li>
			<li><a href="#a-contact"></a></li>
		</ul>
	</div><!-- /drawer-content -->



	<div class="mainvisual">
		<div class="mainvisual__content">
			<div class="mainvisual__title">一番伝えたい<br class="hidden-tab hidden-pc">ことを書く</div>
			<!-- /.mainvisual__title -->
			<div class="mainvisual__lead">人生哲学を議論</div><!-- /.mainvisual__lead -->
			<% if user_signed_in? %>
			  <div class="mainvisual__button"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'button-mainvisual'%></div>
			  <div class="mainvisual__button"><%= link_to '投稿する', new_board_path, class: 'button-mainvisual'%></div>
			<% else%>
			  <div class="mainvisual__button"><%= link_to "新規登録", new_user_registration_path, class: 'button-mainvisual'%></div> 
			  <div class="mainvisual__button"><%= link_to "ログイン", new_user_session_path, class: 'button-mainvisual'%></div>		
			<% end %>
			<!-- /.mainvisual__button -->
		</div><!-- /.mainvisual__content -->
	</div><!-- /.mainvisual -->
    
	<section id="a-tab" class="tab section">
		<div class="tab__inner inner">
			<h2 class="section-title">人気テーマ</h2>
			<div class="tab__nav">
				<ul>
					<li><span class="is-active" data-target="#tab-item01">タブ１</span></li>
					<li><span data-target="#tab-item02">タブ２</span></li>
					<li><span data-target="#tab-item03">タブ３</span></li>
					<li><span data-target="#tab-item04">タブ４</span></li>
				</ul>
			</div>
			<div class="tab__content">
				<div id="tab-item01" class="tab-item is-active">
					<div class="tab-item__lead"><span>タブ１のキャッチ的なテキスト</span></div><!-- /.tab-item__lead -->
					<div class="tab-item__body">
						<div class="tab-item__img"><%= image_tag 'tab-img.svg'%></div><!-- /.tab-item__img -->
						<div class="tab-item__content">
							<div class="tab-item__title">タブ１の見出し</div><!-- /.tab-item__title -->
							<div class="tab-item__info">
								タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。タブ１のコンテンツ。
							</div><!-- /.tab-item__info -->
							<div class="tab-item__link"><a class="button-arrow-right" href="">詳しく見る</a></div>
							<!-- /.tab-item__link -->
						</div><!-- /.tab-item__content -->
					</div><!-- /.tab-item__body -->
				</div><!-- /.tab-item -->
				<div id="tab-item02" class="tab-item">
					<div class="tab-item__lead"><span>タブ２のキャッチ的なテキスト</span></div><!-- /.tab-item__lead -->
					<div class="tab-item__body">
						<div class="tab-item__img"><%= image_tag 'tab-img.svg'%></div><!-- /.tab-item__img -->
						<div class="tab-item__content">
							<div class="tab-item__title">タブ２の見出し</div><!-- /.tab-item__title -->
							<div class="tab-item__info">
								タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。タブ２のコンテンツ。
							</div><!-- /.tab-item__info -->
							<div class="tab-item__link"><a class="button-arrow-right" href="">詳しく見る</a></div>
							<!-- /.tab-item__link -->
						</div><!-- /.tab-item__content -->
					</div><!-- /.tab-item__body -->
				</div><!-- /.tab-item -->
				<div id="tab-item03" class="tab-item">
					<div class="tab-item__lead"><span>タブ３のキャッチ的なテキスト</span></div><!-- /.tab-item__lead -->
					<div class="tab-item__body">
						<div class="tab-item__img"><%= image_tag 'tab-img.svg'%></div><!-- /.tab-item__img -->
						<div class="tab-item__content">
							<div class="tab-item__title">タブ３の見出し</div><!-- /.tab-item__title -->
							<div class="tab-item__info">
								タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。タブ３のコンテンツ。
							</div><!-- /.tab-item__info -->
							<div class="tab-item__link"><a class="button-arrow-right" href="">詳しく見る</a></div>
							<!-- /.tab-item__link -->
						</div><!-- /.tab-item__content -->
					</div><!-- /.tab-item__body -->
				</div><!-- /.tab-item -->
				<div id="tab-item04" class="tab-item">
					<div class="tab-item__lead"><span>タブ４のキャッチ的なテキスト</span></div><!-- /.tab-item__lead -->
					<div class="tab-item__body">
						<div class="tab-item__img"><%= image_tag 'tab-img.svg'%></div><!-- /.tab-item__img -->
						<div class="tab-item__content">
							<div class="tab-item__title">タブ４の見出し</div><!-- /.tab-item__title -->
							<div class="tab-item__info">
								タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。タブ４のコンテンツ。
							</div><!-- /.tab-item__info -->
							<div class="tab-item__link"><a class="button-arrow-right" href="">詳しく見る</a></div>
							<!-- /.tab-item__link -->
						</div><!-- /.tab-item__content -->
					</div><!-- /.tab-item__body -->
				</div><!-- /.tab-item -->
			</div><!-- /.tab__content -->
		</div><!-- /.tab__inner -->
	</section><!-- /.tab -->



	<section id="a-card" class="card section">
		<div class="card__inner inner">
			<h2 class="section-title">最新テーマ</h2><!-- /.section-title -->
			<div class="card__items">
				<%= render partial: 'board', collection: @boards %>
			</div><!-- /.card__items -->
		</div><!-- /.card__inner -->
		
	</section><!-- /.card -->

    <footer class="footer">
		<div class="footer__inner inner">
			<div class="footer__contents">
				<div class="footer__center">
					<!-- /.footer__logo -->
					<div class="footer__info">
					    <p>コンセプト<p/>
						<ul>
						   <li>自分の考えを投稿してフィードバックをもらおう。</li>
						   <li>誹謗中傷のないように。</li>
						</ul>
					</div><!-- /.footer__info -->
				</div><!-- /.footer__left -->	
			</div><!-- /.footer__contents -->
			<div class="footer__copy">Copyright &copy; 2020 
			  <a href="#" target="_blank"></a></div><!-- /.footer__copy -->
		</div><!-- /.footer__inner -->
	</footer><!-- /.footer -->